<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<dict>
		<key>Tabby_1</key>
		<string>cat sleeping</string>
		<key>Tabby_2</key>
		<string>smileless cat</string>
		<key>Tabby_3</key>
		<string>adorable</string>
		<key>GermanShepherd_1</key>
		<string>german Shepherd</string>
		<key>GermanShepherd_3</key>
		<string>pretend to be a rabbit</string>
		<key>BeardedDragon_1</key>
		<string>just a beardedDragon</string>
		<key>BeardedDragon_2</key>
		<string>such a gentleman</string>
		<key>BeardedDragon_3</key>
		<string>grumpy beardedDragon</string>
		<key>Parakeet_1</key>
		<string>parakeet family</string>
		<key>Parakeet_2</key>
		<string>parakeet sisters</string>
		<key>Parakeet_3</key>
		<string>just a parakeet</string>
	</dict>
</dict>
</plist>
